*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    margin: 0;
}

#container{
    background: transparent;
}

.logo{
    border-radius: 50%;
}
button{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.section-one{
    background-image: url("images/pic-four.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #f57242;
}

.heading{
    color:#f57242;
    font-weight: 900;
    padding-top: 150px;
    text-align: center;


}

.p-heading{
    font-weight: 600;
    text-align: center;
    margin: 15px;
    
}

.section-one button{
    background-color: #322347;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
}

.section-two{
    background-color: #f57242;
    color: white;
    margin-bottom: 30px;
}

.about{
    padding: 30px;
    text-align: center;
    font-weight: 700;

}

.about-heading{
    text-align: left;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-info{
    text-align: left;
    padding-bottom: 30px;
}

.mission{
    margin-left: 30px;
    margin-right: 20px;

}

.img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.grade8, .grade10,.services, .subjects-offered{
    text-align: center;
}

.card-one, .card-two, .prices{
    background: #322347;
    color: #fff;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.subjects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services{
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
}

.card-one{
    padding: 30px;
    margin-bottom: 30px;
}

.subjects-offered{
    font-weight: 600;
    margin-bottom: 25px;
}

.card-two{
    padding: 20px;
}

.tuition{
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    
}

.price,.registration, .tuition{
    text-align: center;
}

.prices{
    padding-top: 30px;
    padding-bottom: 20px;

}

.section-four{
    margin-bottom: 45px;
}

.why-image{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.images img{
    width: 100%;
}


.images div{ 
    display: flex;
    justify-content: space-evenly;

}

.image1{
    margin-right: 10px;
}

.image2{
    margin-left: 5px;
}

.testimonial-card{
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 20px;

}

.testimonials p{
    text-align: left;
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
}


.contact-info, .social-media, .contact{
    text-align: center;
}

.contact{
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.social-media{
    margin-bottom: 20px;
    font-weight: 600;
    color: #322347;
}

.contact-us{
    background-color: #f57242;
    color: #fff;
    padding: 30px;
    margin-bottom: 0;
}

.icon{
    font-size: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 40px;
    
}

.icons{
      display: flex;
      justify-content: space-around;
      
}

.testimonials{
    text-align: center;
}

.author{
    font-weight: bold;
}


.email,.location{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}


footer{
    background: #333;
    color: #fff;
    padding: 15px;
    margin-top: 0;
    text-align: center;
}